:root {
  font-family: 'Quicksand', sans-serif;
  --main-bg-color: #D1E7F5;
  --main-font-color: #2F8AD5;
  --border-weight: 1px;
  --gutter: 1em;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

form {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: var(--gutter);
}

button, input, select, option {
  background-color: inherit;
  border-color: var(--main-font-color);
  color: var(--main-font-color);
  font-family: inherit;
  border: none;
  font-size: 1.2rem;
}

button, input {
  padding: .7em;
}

input {
  background-color: white;
}

.button {
  display: flex; 
  border-width: var(--border-weight);
  border-style: solid;
  border-color: var(--main-font-color);
}

::placeholder {
  color: inherit;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: var(--gutter);
}

#grid > div > * {
  align-items: center;
}

#baseCurrency {
  grid-column: 2/3;
}

#targetCurrency {
  grid-column: 3/4;
}

#response {
  grid-column: 1/2;
  font-size: 2rem;
  font-weight: 700;
}

#baseCurrency>option:hover, #targetCurrency>option:hover {
  font-size: 2rem;
  font-weight: 600;
}

#baseCurrency>option:checked, #targetCurrency>option:checked {
  font-size: 2rem;
  font-weight: 600;
}

select {
  display: none;
}
